
.icon-facebook {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAfklEQVQ4T2NkwAP+//8fwMDAkM/AwOAAU8bIyMiIrAWFgywB1bwe3XxSDLjAwMCgT4kB/5E0CzIyMn7A5lt8XoAbgO5svGHw//9/ZJvRLf3IyMgoQIkBBxkZGeExAjIIwwsEXDCRkZGxgNhoJC8MYKYju4SkQBw1ABFBdAtEAB+GRBGLD9j5AAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

.icon-instagram {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABJklEQVQ4T6WTjU3CQBzFf28C2UA3UCZQJpANkA1wAnECZAJxA51ANkA3YAQ3eObVO3Ix1Bq9pG1ybd/X/50oy/YSmAFnda/n+QZsJK3zXrnZ3gKXwBOwHwAIQYi2kiayfQM8AmNJQe9dtkeNwh0wD0DYPyRNB5ijdFPYx8BDZ8F2JMdTMuiW7QtgBVyVrZDcAlEQxYtyzQJg4L4ClJ8j772ylI/PW5sl9LtjAGEbSYqKw7KdfPbV6k8AUTSXFL8tQGSvJNXJxfJRBf8GiIUTSUn6TxbiPSF2jSsIST77h660GfSNMR6vC8ALsGyLVgCmmcIzcPpd8i9K9TUV2ynL67Hk+0Ca+k/qSGpFYych9h2o5JArB2otadEBlPpGScIaOs41sxDxCRZ/wqaCcJTrAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

.icon-linkedin {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAlElEQVQ4T+2SXQ3CQBCEv3EADooDnKAFBbQKQAISagEJOMABdTDNNlxyD0eyTXlkny6bm29nf8TG0EY9C8B2D1yAQVK801EALgpJq1z9xkHab+Pj1xZsl7YewA24Ah0wAXdJ5+BlACHYNYovA88AQvsERuAInD6wl6RDFrCXNNkOJ+96YylAvdpqNkT+D1h5962LnQFsZngR2GzfHwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}

.icon-twitter {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA+0lEQVQ4T6WSYXHCQBSEv3WAA1IHOCh1QBWUKihVADiIA1oHqQJwQHGQKGir4DHL5DoJkwzJcDP5lXff7dtdcefRnfe5ACJiJum7DxYRG+AFmAAF8A7MgVK+DOyBpy5IROTAWwf8C8gNMMmAX2Al6bM5HBHRo+zPKgywrJ/GUGky4JW8ouFd51lSkQArYD3SUK98SB4cR172+IOkMqVwAB5HQCpJmef/e1BHNXSNrSRH2wLYvOkAFXY/k+TUWgD3we7fWuXifnqoVeU60h2w6FHyKumj+S8Vya9agUvlXlyfClg6tusfKQW/6M+A5MOpLlPRlNwJGGBc78gZ5d9YqJH3KggAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

.icon-youtube {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmElEQVQ4T63SYRHCMAyG4TcOcDIcAA6YExxgASdYaB0gZSj4dtn1B8dlpVvJz7Z5miY1OsM681kASWfgFGC+PgGvYC+bWTJJV+C5s5LRgbRye4uZHdDKydwATzXgUt7/qEFVwJv00WSHhu9qfwKSDsAduEVPrQFjudETHQmjBrRM4f2XMfZ9pNLlI+DQlkjLV96SEU6hF5gBOMJF7s+up2QAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}